In [1]:
import pandas as pd
import category_encoders as ce 
# инициализируем информацию об одежде
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])

In [2]:
ord_encoder = ce.OrdinalEncoder()
data_bin = ord_encoder.fit_transform(clothing['size'])
clothing = pd.concat([clothing, data_bin], axis=1)

In [3]:
encoder = ce.OneHotEncoder() # указываем столбец для кодирования

In [4]:
type_bin = encoder.fit_transform(clothing['type'])

/opt/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [5]:
clothing = pd.concat([clothing, type_bin], axis=1)

In [7]:
bin_encoder = ce.BinaryEncoder()
type_bin = bin_encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)

/opt/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [8]:
clothing

   size   type  size  type_1  type_2  type_3  type_4  type_0  type_1  type_2
0   xxs  dress     1       1       0       0       0       0       0       1
1   xxs  skirt     1       0       1       0       0       0       1       0
2    xs  dress     2       1       0       0       0       0       0       1
3     s  skirt     3       0       1       0       0       0       1       0
4     m  dress     4       1       0       0       0       0       0       1
5     l  shirt     5       0       0       1       0       0       1       1
6     s   coat     3       0       0       0       1       1       0       0
7     m   coat     4       0       0       0       1       1       0       0
8   xxl  shirt     6       0       0       1       0       0       1       1
9     l  dress     5       1       0       0       0       0       0       1