In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('data/countries.csv', sep=';')

In [3]:
df

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [4]:
df.to_csv('data/countries.txt', sep=' ', index=False)

In [5]:
txt_df = pd.read_table('data/countries.txt', sep=' ', index_col=['country'])
display(txt_df)

           population    square
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902

In [6]:
data=pd.read_csv('data/ErrorEnCoding.csv', encoding='koi8-r', header=None)

In [7]:
# from chardet.universaldetector import UniversalDetector # Импортируем субмодуль chardet.universaldetector
# detector = UniversalDetector()
# with open('data/ErrorEnCoding.csv', 'rb') as fh:
#     for line in fh:
#         detector.feed(line)
#         if detector.done:
#             break
# detector.close()

In [8]:
data

            0                           1             2
0   User_943         Accumanst@gmail.com         Ижевск
1   User_908           Advismowr@mail.ru         Ижевск
2   User_962             Anachso@ukr.net      Краснодар
3   User_973            Antecia@inbox.ru          Пермь
4   User_902          Balliaryva@ukr.net
..        ...                         ...           ...
95  User_959    UpdatesCurious@yahoo.com         Тюмень
96  User_901          V2artierso@mail.ru    Арзангелтск
97  User_970            Vashoterlo@bk.ru        Воронеж
98  User_965         Visuareda@yahoo.com        Воронеж
99  User_921                Aavast@ya.ru         Ижевск

[100 rows x 3 columns]

In [9]:
data = pd.read_table('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv', sep=',')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [10]:
data = pd.read_csv('data/students_performance.zip')
display(data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [11]:
compression_opts = dict(method='zip', archive_name='out.csv') # Определяем параметры архивирования — метод сжатия, имя файл в архиве
data.to_csv('data/out.zip', index=False, compression=compression_opts)

In [12]:
# grades = pd.read_excel('data/grades.xlsx', sheet_name='ML')
# display(grades.head())

In [13]:
 import json
 from pprint import pprint

In [14]:
with open('recipes.json') as f: # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f)

In [15]:
# pprint(recipes)
recipes[0]['ingredients']

['romaine lettuce',
 'black olives',
 'grape tomatoes',
 'garlic',
 'pepper',
 'purple onion',
 'seasoning',
 'garbanzo beans',
 'feta cheese crumbles']

In [16]:
for i in recipes:
    if i['id'] == 13121:
        print(i['cuisine'])

thai

In [17]:
s=dict()
count=0
for i in recipes:
    if i['cuisine'] in s:
        s[i['cuisine']] += 1   
    else:
        s[i['cuisine']] = 0
        
print(s)

{'greek': 14, 'southern_us': 51, 'filipino': 10, 'indian': 40, 'jamaican': 5, 'spanish': 11, 'italian': 100, 'mexican': 78, 'chinese': 38, 'british': 8, 'thai': 16, 'vietnamese': 8, 'cajun_creole': 15, 'brazilian': 2, 'french': 24, 'japanese': 23, 'irish': 8, 'korean': 20, 'moroccan': 8, 'russian': 1}

In [18]:
import pandas as pd # Импортируем модуль pandas
df = pd.read_json('recipes.json') # Создаём объект DataFrame, загружая содержимое файла recipes.json
display(df)

        id      cuisine                                        ingredients
0    10259        greek  [romaine lettuce, black olives, grape tomatoes...
1    25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2    20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3    22213       indian                [water, vegetable oil, wheat, salt]
4    13162       indian  [black pepper, shallots, cornflour, cayenne pe...
..     ...          ...                                                ...
495   1121      chinese  [ground pepper, garlic, safflower oil, green o...
496  18376      italian  [penne, garlic, eggplant, lemon juice, olive o...
497  17815      italian  [cold water, dry white wine, fish fillets, cho...
498  32878  southern_us  [water, cajun seasoning, yellow onion, shrimp,...
499  24410      british  [mint, large eggs, heavy cream, berries, groun...

[500 rows x 3 columns]

In [ ]:
c=[]
for i in df['ingredients']:
#     h = i.split(',')
    display(i.split(','))
#     for j in h:
#         c.appned(j)
# display(c)

In [20]:
l=set()
for i in df['ingredients']:
    for j in i:
        l.add(j)
display(len(l))

1318

In [21]:
def contains(ingredient_list): # Определяем имя функции и передаваемые аргументы
    if ingredient_name in ingredient_list: # Если ингредиент есть в текущем блюде,
        return 1 # возвращаем значение 1
    else: # Если ингредиента нет в текущем блюде,
        return 0 # возвращаем значение 0

In [22]:
for ingredient_name in l: # Последовательно перебираем ингредиенты в реестре all_ingredients
    df[ingredient_name] = df['ingredients'].apply(contains)

/var/folders/6z/45n532t13ls9mw2dtbxlb7600000gn/T/ipykernel_86087/2465941597.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[ingredient_name] = df['ingredients'].apply(contains)

In [23]:
df

,id,cuisine,ingredients,pasta sheets,chopped green bell pepper,Gochujang base,olive oil cooking spray,tahini,oil cured olives,chili pepper,...,tomato paste,grated lemon zest,chicken drumsticks,parsley leaves,radishes,BertolliВ® Classico Olive Oil,red bell pepper,chestnut flour,sun-dried tomatoes in oil,orange blossom honey
0,10259,greek,"[romaine lettuce, black olives, grape tomatoes...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,"[plain flour, ground pepper, salt, tomatoes, g...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,"[eggs, pepper, salt, mayonaise, cooking oil, g...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,"[water, vegetable oil, wheat, salt]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,"[black pepper, shallots, cornflour, cayenne pe...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1121,chinese,"[ground pepper, garlic, safflower oil, green o...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,18376,italian,"[penne, garlic, eggplant, lemon juice, olive o...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,17815,italian,"[cold water, dry white wine, fish fillets, cho...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,32878,southern_us,"[water, cajun seasoning, yellow onion, shrimp,...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,24410,british,"[mint, large eggs, heavy cream, berries, groun...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df['ingredients'] = df['ingredients'].apply(len)

In [25]:
df

,id,cuisine,ingredients,pasta sheets,chopped green bell pepper,Gochujang base,olive oil cooking spray,tahini,oil cured olives,chili pepper,...,tomato paste,grated lemon zest,chicken drumsticks,parsley leaves,radishes,BertolliВ® Classico Olive Oil,red bell pepper,chestnut flour,sun-dried tomatoes in oil,orange blossom honey
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1121,chinese,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,18376,italian,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,17815,italian,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,32878,southern_us,19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,24410,british,17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df.to_csv('recipes.csv', index = False)

In [27]:
df = pd.read_csv('recipes.csv')

In [28]:
df

,id,cuisine,ingredients,pasta sheets,chopped green bell pepper,Gochujang base,olive oil cooking spray,tahini,oil cured olives,chili pepper,...,tomato paste,grated lemon zest,chicken drumsticks,parsley leaves,radishes,BertolliВ® Classico Olive Oil,red bell pepper,chestnut flour,sun-dried tomatoes in oil,orange blossom honey
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1121,chinese,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,18376,italian,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,17815,italian,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,32878,southern_us,19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,24410,british,17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df = pd.read_csv('recipes.csv') 
ids = list(df['id'].unique())

In [33]:
ingridients = list(df.columns)[3:]

In [35]:
new_recipes = [] # Создаём пустой список для хранения итоговой структуры

def make_list(arg):
    l=[]
    for i in arg:
        if i in ingridients:
            l.append(arg)
    return l
    

for current_id in ids: # Организуем цикл с параметром current_id
    cuisine = df[df['id'] == current_id]['cuisine'].iloc[0] # Получаем значение соответствующей кухни, применив фильтр по текущему значению параметра цикла к DataFrame;
    current_ingredients = make_list(df[df['id'] == current_id]) # Получаем перечень ингредиентов, входящих в состав текущего блюда
    current_recipe = {'cuisine': cuisine, 'id': int(current_id), 'ingredients': current_ingredients} # Создаём текущий словарь
    new_recipes.append(current_recipe) # Добавляем созданный словарь к списку